<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262046152967-lam4hdd1kqugoanid5hs2usraeb40fvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262046152967-lam4hdd1kqugoanid5hs2usraeb40fvd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>262046152967-jv0nl7v1v5vec48gp6vr1g6ll1nncg3r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuBOy9PRyCxZq8N1FsL499Gi4-EiggxLo</string>
	<key>GCM_SENDER_ID</key>
	<string>262046152967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deniskebap.app</string>
	<key>PROJECT_ID</key>
	<string>denis-kebap-1637907406612</string>
	<key>STORAGE_BUCKET</key>
	<string>denis-kebap-1637907406612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262046152967:ios:191ac835a8a3e78d232da2</string>
</dict>
</plist>